# Git
.git
.gitignore

# Training outputs
runs/
results/
weights/
*.pt

# Datasets
datasets/
images/
labels/

# Python junk
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# OS junk
.DS_Store

# Logs
*.log

# Archives
*.zip
*.tar
*.tar.gz
